<h1>
  <%= @trading_day.symbol %>
  <%= @trading_day.date %>
</h1>
<p>Candles: <%= @trading_day.candles.count %></p>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>

  <tbody>
    <% @candles.each do |candle| %>
      <tr>
        <td><%= candle.timestamp %></td>
        <td><%= candle.open %></td>
        <td><%= candle.high %></td>
        <td><%= candle.low %></td>
        <td><%= candle.close %></td>
        <td><%= candle.volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>
